@model IEnumerable<FT_Management.Models.Marcacao>

@{
    ViewData["Title"] = "Dashboard";
}


<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="15000">
    <div class="carousel-inner">
        <div class="carousel-item active col-md-12">
            @await Component.InvokeAsync("Dashboard", new { model = Model })
        </div>
        <div class="carousel-item col-md-12">
            @await Component.InvokeAsync("PedidosDiarios", new { model = Model })
        </div>
        <div class="carousel-item col-md-12">
            @await Component.InvokeAsync("Instalacoes", new { model = Model })
        </div>
        <div class="carousel-item col-md-12">
            @await Component.InvokeAsync("PedidoOrcamento", new { model = Model })
        </div>
        <div class="carousel-item col-md-12">
            @await Component.InvokeAsync("PedidoPecas", new { model = Model })
        </div>
        <div class="carousel-item col-md-12">
            @await Component.InvokeAsync("AguardarCliente", new { model = Model })
        </div>
        <div class="carousel-item col-md-12">
            @await Component.InvokeAsync("Oficina", new { model = Model })
        </div>
    </div>
</div>
<br />
<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="$('#carousel').carousel('prev')">Anterior</button>
    <button type="button" class="btn btn-primary" onclick="$('#carousel').carousel('next')">Proximo</button>
</div>

<script>
    $('#carousel').on('slide.bs.carousel', function () {
        if ($('div.active').index() == 6)
            location.reload(true);

    })
</script>