@model FT_Management.Models.Utilizador

@{
    ViewData["Title"] = "Iniciar Sessão";
}

<div class="hero is-fullheight">
    <div>
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <div class="card card-signin my-5" style=" border: 0; border-radius: 1rem; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);">
                    <div class="card-body">
                        <img src="~/img/ft_logo.png" width="150" height="90" class="" style="display:block;margin:auto;">
                        <br />
                        <form class="form-signin" method="post">
                            <div class="field mx-2">
                                <p class="control has-icons-left has-icons-right">
                                    <input type="text" asp-for="NomeUtilizador" id="inputNome" class="input is-success" placeholder="Nome de Utilizador" required autofocus>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field mx-2">
                                <p class="control has-icons-left">
                                    <input type="password" asp-for="Password" id="inputPassword" class="input is-success" placeholder="Password" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </p>
                            </div>

                            <button class="button is-info is-rounded mx-6 my-2" type="submit">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Iniciar Sessão</span>
                            </button>
                            <br />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

