
@model IEnumerable<FT_Management.Models.Marcacao>

@{
    ViewData["Title"] = "Férias";
}


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">Calendário de Férias</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

@*<partial name="~/Views/Pedidos/CalendarioView.cshtml" />*@
<link href='~/js/fullcalendar/main.css' rel='stylesheet' />
<script src='~/js/fullcalendar/main.js'></script>

<div id='calendar-container' class="mx-2">
    <div id='calendar'></div>
</div>
&nbsp;
<div class="container">
    <a class="button is-rounded is-outlined  is-link is-light" onclick="location.href = '@(Url.Action("Index", "Ferias"))'">< Voltar</a>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'interaction' ],
            timeZone: 'UTC',
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next',
                center: 'title'
            },
            height: '100%',
            contentHeight: 'auto',
            weekNumbers: true,
            expandRows: true,
            firstDay: 1,
            locale: 'pt',
            editable: false,
            events: 'ObterFeriasCalendario',
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false
            },
            scrollTime: '00:00:00',
            displayEventTime: false,
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate
                if (info.event.url) {
                    window.open(info.event.raw);
                }
            }
        });

        calendar.render();
    });</script>