@model IEnumerable<FT_Management.Models.Utilizador>

@{
    ViewData["Title"] = "Férias";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-umbrella-beach"></i>
                            </span>
                            <span>Mapa de Férias</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column my-auto">
                <div class="buttons is-right">
                    <p class="control">
                        <a class="button is-info is-outlined"  onclick="location.href = '@(Url.Action("CalendarioView", "Ferias"))'">
                            <span class="icon">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <span>Calendário</span>
                        </a>
                    </p>

                    <p class="control">
                        <a asp-action="Index" class="button is-primary is-outlined"  onclick="location.href = '@(Url.Action("Exportar", "Ferias", new { Ano = DateTime.Now.Year }))'">
                            <span class="icon">
                                <i class="fas fa-cloud-download-alt"></i>
                            </span>
                            <span>Exportar Mapa</span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
</div>
<hr />

@if (Model.Count() == 0)
{
    <br />
    <button class="button is-danger is-outlined is-fullwidth">Não foram encontrados Utilizadores!</button>
}
else
{
<div class="container">
    <div class="columns is-multiline">
        @foreach (var item in Model)
        {
            <div class="column is-4">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon  mr-2">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>@item.NomeCompleto</span>
                        </p>
                        <a class="button is-primary is-rounded mx-2 my-2" onclick="location.href = '@(Url.Action("Detalhes", "Ferias", new { IdUtilizador = item.Id }))'">
                            <span class="icon">
                                <i class="fas fa-info"></i>
                            </span>
                            <span>Visualizar</span>
                        </a>
                    </header>
                </div>
            </div>
        }
    </div>
</div>
}
