@model FT_Management.Models.Picking

@{
    ViewData["Title"] = "Picking";
}
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                   <i class="fa-solid fa-barcode"></i>
                                </span>
                                <span>Picking - Novo</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr />