@model FT_Management.Models.Contacto

@{
    ViewData["Title"] = "Novo Contacto";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<form asp-action="Novo" name="frmNovo" id="frmNovo">
    <div class="mb-5 p-4 bg-white shadow-sm">
        <h3>Adicionar Contacto</h3>

        <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#cliente-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="cliente-part" id="cliente-part-trigger" aria-selected="true">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Contacto</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#comercial-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="comercial-part" id="comercial-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Dados Adicionais</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#informacao-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="informacao-part" id="informacao-part-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Anexos</span>
                    </button>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="cliente-part" class="content" role="tabpanel" aria-labelledby="cliente-part-trigger">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label style="font-weight:bold" for="">Nome da Empresa</label>
                                <input type="text" required class="form-control" asp-for="NomeContacto" placeholder="Nome da Empresa">
                                <span asp-validation-for="NomeContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label style="font-weight:bold" for="">Nome</label>
                                <input type="text" required class="form-control" asp-for="PessoaContacto" placeholder="Nome">
                                <span asp-validation-for="PessoaContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="">Cargo</label>
                                <input type="text" required class="form-control" asp-for="CargoPessoaContacto" placeholder="Cargo">
                                <span asp-validation-for="CargoPessoaContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label style="font-weight:bold" for="">Contacto</label>
                                <input type="tel" required class="form-control" asp-for="TelefoneContacto" placeholder="Contacto">
                                <span asp-validation-for="TelefoneContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label style="font-weight:bold" for="">Email</label>
                                <input type="email" required class="form-control" asp-for="EmailContacto" placeholder="Email">
                                <span asp-validation-for="EmailContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Tipo de Contacto</label>
                                <select class="form-control" asp-for="TipoContacto">
                                    <option selected="selected">Email</option>
                                    <option>Mensagem</option>
                                    <option>Feira</option>
                                    <option>Outro</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Área de Negócio</label>
                                <select class="form-control" asp-for="AreaNegocio"
                                        asp-items="@(new SelectList(@ViewBag.AreasNegocio, "Value", "Text"))">
                                </select>
                            </div>

                            <button class="btn btn-primary" type="button" onclick="next()">Próximo</button>
                        </div>
                    </div>
                    <div id="comercial-part" class="content" role="tabpanel" aria-labelledby="comercial-part-trigger">
                        <div class="row">
                            <div class="form-group col-lg-6" style="position: relative;">
                                <label for="">Número de Contribuinte</label>
                                <input type="text" class="form-control" asp-for="NIFContacto" placeholder="NIF">
                                <span asp-validation-for="NIFContacto" class="text-danger"></span>

                            </div>
                            <div class="form-group col-lg-6" style="position: relative;">
                                <label for="">Morada da Empresa</label>
                                <input type="text" class="form-control" asp-for="MoradaContacto" placeholder="Morada">
                            </div>
                            <label for="">Observações</label>
                            <textarea class="form-control" rows="8" placeholder="" asp-for="Obs"></textarea>
                        </div>
                        <br />
                        <button class="btn btn-primary" type="button" onclick="previous()">Anterior</button>
                        <button class="btn btn-primary" type="button" onclick="next()">Próximo</button>
                    </div>
                    <div id="informacao-part" class="content" role="tabpanel" aria-labelledby="informacao-part-trigger">
                        <div class="form-group">
                            <label class="control-label">Anexo</label>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02" name="files" value="Escolher" onchange="AdicionarAnexo('inputGroupFile02')">
                                    <label class="custom-file-label" for="inputGroupFile02">Escolha o ficheiro</label>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" type="button" onclick="previous()">Anterior</button>

                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
    function AdicionarAnexo(inputTxt) {
        var input = document.getElementById(inputTxt);
        var name = document.getElementById('txtNomeEmpresa') + '_' + document.getElementById('txtNomeCliente');;
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        $.ajax(
            {
                url: "/Contactos/AdicionarAnexo?NomeEmpresa=" + document.getElementById('txtNomeEmpresa').value + "&NomeCliente=" + document.getElementById('txtNomeCliente').value,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    $.notify({
                        message: "Anexo carregado com sucesso!"
                    }, {
                        // settings
                        type: 'success',
                        onShow: function () {
                            this.css({ 'width': 'auto', 'height': 'auto' });
                        }
                    });
                }
            }
        );
    }

        var stepper = new Stepper($('.bs-stepper')[0])

        function next() {
            stepper.next();
        }
        function previous() {
            stepper.previous();
        }

    </script>
