<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestor Food-Tech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</head>
<body>
    <header>
        <!-- example 2 - using auto margins -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Produtos"><i class="fas fa-dolly-flatbed"></i> Referências</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-calendar-alt"></i> Marcações</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="~/Pedidos"><i class="fas fa-tools"></i> Técnicos</a>
                            <a class="dropdown-item" href="~/Visitas"><i class="fas fa-user-tie"></i> Comerciais</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/FolhasObra"><i class="fab fa-wpforms"></i> Folhas de Obra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/ControloViaturas"><i class="fas fa-car"></i> Controlo de Viaturas</a>
                    </li>
                </ul>
            </div>
            <div class="order-0">
                <a class="navbar-brand mx-auto align-center" href="~/"><img src="~/img/ft_logo.png" width="85" height="50" class="d-inline-block align-top"></a>

            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link" href="~/Utilizadores/Logout"><i class="fas fa-sign-out-alt"></i> Terminar Sessão (@User.ObterNomeCompleto())</a>
                        }
                        else
                        {
                            <a class="nav-link" href="~/Utilizadores/Login"><i class="fas fa-sign-in-alt"></i> Iniciar Sessão</a>
                        }
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="border-color:transparent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <br />

            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Food-Tech - Jorge Monteiro (V.@GetType().Assembly.GetName().Version.ToString())
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
