@{
	ViewData["Title"] = "Inicio";
}


<div class="is-centered">
	<div class="columns">
		<video width="100%" height="100%" autoplay muted>
			<source src="~/img/homepage_video.mp4" type="video/mp4">
		</video>
	</div>
</div>
