@{
    ViewData["Title"] = "Inicio";
}

<link href="https://food-tech.pt/wp-content/uploads/ft-assets/diagram-menu.css" rel="stylesheet" type="text/css">

<div class="is-centered">
    <img src="~/img/logo_website.png" style="display:block;margin:auto;width:30%">
	&nbsp;
<div class="columns">
    <div class="column is-half">
        <div class="diagram-wrapper" style="display:block;margin:auto;">
  <div id="diagram-industria" class="diagram-container active">

	  <div data-link="https://food-tech.pt/industria/processamento" data-target="diagram-id-processamento" id="diagram-item-id-processamento" class="diagram-item active" style="left: 360px; top: 155px;">
		  <div class="diagram-item-img"></div>
		  <p>Processamento</p>
		 <a href="https://food-tech.pt/solucoes/industria/processamento" class="diagram-item-link">&nbsp; </a>

	  </div> 

	  <div href="#" data-link="https://food-tech.pt/industria/embalagem/" data-target="diagram-id-embalagem" id="diagram-item-id-embalagem" class="diagram-item active" style="left: 283px; top: 315px;">
		<div class="diagram-item-img"></div>
		<p>Embalagem</p>

		  <a href="https://food-tech.pt/solucoes/industria/embalagem" class="diagram-item-link">&nbsp;</a>
	  </div>

	  <div href="#" data-link="https://food-tech.pt/industria/controlo-e-inspecao/" data-target="diagram-id-control" id="diagram-item-id-control" class="diagram-item active" style="left: 109px; top: 355px;">
		<div class="diagram-item-img"></div>
		<p>Controlo e Inspeção</p>
		  <a href="https://food-tech.pt/solucoes/industria/controlo-e-inspecao" class="diagram-item-link">&nbsp;</a>
	  </div>

	  <div href="#" data-link="" data-target="diagram-id-higiene" id="diagram-item-id-higiene" class="diagram-item active " style="left: -30px; top: 244px;">

		  <div class="diagram-item-img"></div>
		  <p>Higiene</p>
		  <a href="https://food-tech.pt/solucoes/industria/higiene" class="diagram-item-link">&nbsp;</a>
	  </div>

	  <div href="" data-link="https://food-tech.pt/dibal-balancas-e-etiquetadoras-para-a-industria/" data-target="diagram-id-pesagem" id="diagram-item-id-pesagem" class="diagram-item active" style="left: -30px; top: 66px;">

		  <div class="diagram-item-img"></div>
		  <p>Pesagem e Etiquetagem</p>
		  <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem" class="diagram-item-link">&nbsp;</a>
	  </div>

	  <div href="" data-link="" data-target="diagram-id-doseamento" id="diagram-item-id-dosagem" class="diagram-item active diagram-item-6" style="left: 109px; top: -45px;">

		<div class="diagram-item-img"></div>
		<p>Dosagem e Enchimento</p>
		  <a href="https://food-tech.pt/solucoes/industria/doseamento-e-enchimento" class="diagram-item-link">&nbsp;</a>
	  </div>

	  <div href="" data-link=" " data-target="diagram-id-consumiveis" id="diagram-item-id-consumiveis" class="diagram-item active" style="left: 283px; top: -5px;">

		<div class="diagram-item-img"></div>
		<p>Consumíveis</p>
		  <a href="https://food-tech.pt/solucoes/industria/consumiveis" class="diagram-item-link">&nbsp;</a>
	  </div>

  </div>


  <!-- PROCESASMENTO -->
  <div id="diagram-id-processamento" class="diagram-container rotate">
	  <a href="https://food-tech.pt/solucoes/industria/processamento/picadoras" data-target="id-processamento" id="dg-item-id-processamento-picadoras" class="diagram-item active" style="left: 360px; top: 155px;">
		  <div class="diagram-item-img"></div>
		  <p>Picadoras</p>
	  </a>

	  <a href="https://food-tech.pt/solucoes/industria/processamento/cutters" data-target="id-embalagem" id="dg-item-id-processamento-cutters" class="diagram-item active" style="left: 321px; top: 275px;">
		<div class="diagram-item-img"></div>
		<p>Cutters</p>
	  </a>

	  <a href="https://food-tech.pt/solucoes/industria/processamento/serras" data-target="id-control" id="dg-item-id-processamento-serras" class="diagram-item active" style="left: 218px; top: 350px;">
		<div class="diagram-item-img"></div>
		<p>Serras</p>
	  </a>

	  <a href="https://food-tech.pt/solucoes/industria/processamento/fatiadoras" data-target="higiene" id="dg-item-id-processamento-fatiadoras" class="diagram-item not-active " style="left: 92px; top: 350px;">
		  <div class="diagram-item-img"></div>
		  <p>Fatiadoras</p>
	  </a>

	  <a href="https://food-tech.pt/solucoes/industria/processamento/depeladoras" data-target="id-pesagem" id="dg-item-id-processamento-depeladoras" class="diagram-item active" style="left: -11px; top: 275px;">
		  <div class="diagram-item-img"></div>
		  <p>depeladoras</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/processamento/descouradoras" data-target="id-pesagem" id="dg-item-id-processamento-decouradoras" class="diagram-item active" style="left: -50px; top: 155px;">
		  <div class="diagram-item-img"></div>
		  <p>Descouratadoras</p>
	  </a>
	<a href="https://food-tech.pt/solucoes/industria/processamento/formadora-de-hamburgueres" data-target="id-pesagem" id="dg-item-id-processamento-formadoras" class="diagram-item active" style="left: -11px; top: 35px;">
		  <div class="diagram-item-img"></div>
		  <p>Formadoras de Hamburgueres</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/processamento/maquina-de-enchidos" data-target="id-pesagem" id="dg-item-id-processamento-enchidos" class="diagram-item active" style="left: 92px; top: -40px;">
		  <div class="diagram-item-img"></div>
		  <p>Máquina de Enchidos</p>
	  </a>
	 <a href="https://food-tech.pt/solucoes/industria/processamento/clipsadoras" data-target="id-pesagem" id="dg-item-id-processamento-clipsadoras" class="diagram-item active" style="left: 218px; top: -40px;">
		  <div class="diagram-item-img"></div>
		  <p>Clipsadoras</p>
	  </a>
	<a href="https://food-tech.pt/solucoes/industria/processamento/estufas" data-target="id-pesagem" id="dg-item-id-processamento-estufas" class="diagram-item active" style="left: 321px; top: 35px;">
		  <div class="diagram-item-img"></div>
		  <p>Estufas</p>
	</a>

  </div>


  <!-- DOSEAMENTO -->
  <div id="diagram-id-doseamento" class="diagram-container rotate">
	<a href="https://food-tech.pt/solucoes/industria/doseamento-e-enchimento/doseadores-volumetricos" data-target="id-doseamento" id="dg-item-id-doseamento-volumetrico" class="diagram-item active" style="left: 360px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Deseadores Volumetricos</p>
	  </a>

	  <a href="https://food-tech.pt/solucoes/industria/multicabecais" data-target="id-doseamento" id="dg-item-id-doseamento-multicabecal" class="diagram-item active" style="left: -50px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Multicabeçais</p>
	  </a>

  </div>


  <!-- EMBALAGEM -->
  <div id="diagram-id-embalagem" class="diagram-container rotate">
	<a href="https://food-tech.pt/solucoes/industria/embalagem/vacuo" id="dg-item-id-embalagem-vacuo" class="diagram-item active" style="left: 360px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Vacuo</p>
	  </a>

	<a href="https://food-tech.pt/solucoes/industria/embalagem/termoretratil" id="dg-item-id-embalagem-termoretratil" class="diagram-item active" style="left: 258px; top: 333px;">
		<div class="diagram-item-img"></div>
		<p>Termoretrátil</p>
	  </a>

	<a href="https://food-tech.pt/solucoes/industria/embalagem/flowpack" id="dg-item-id-embalagem-flowpack" class="diagram-item active" style="left: 53px; top: 333px;">
		<div class="diagram-item-img"></div>
		<p>Flowpack</p>
	  </a>

	<a href="https://food-tech.pt/solucoes/industria/embalagem/termoselagem" id="dg-item-id-embalagem-termoselagem" class="diagram-item active" style="left: -50px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Termoselagem</p>
	  </a>	

	<a href="https://food-tech.pt/solucoes/industria/embalagem/fill-seal" id="dg-item-id-embalagem-fillseal" class="diagram-item active" style="left: 52px; top: -23px;">
		<div class="diagram-item-img"></div>
		<p>FillSeal</p>
	  </a>
	<a href="https://food-tech.pt/solucoes/industria/embalagem/embrulhar-papel" id="dg-item-id-embalagem-embrulhar" class="diagram-item active" style="left: 257px; top: -23px;">
		<div class="diagram-item-img"></div>
		<p>embrulhar em papel</p>
	  </a>	

  </div>



  <!-- PESAGEM -->
  <div id="diagram-id-pesagem" class="diagram-container rotate">
	<a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/etiquetadoras-manuais" id="dg-item-id-pesagem-etiquetadoras-manual" class="diagram-item active" style="left: 360px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Etiquetadoras Manuais</p>
	  </a>
	 <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/etiquetadoras-automaticas" id="dg-item-id-pesagem-etiquetadoras-auto" class="diagram-item active" style="left: 321px; top: 275px;">
		<div class="diagram-item-img"></div>
		<p>Etiquetadoras Automáticas</p>
	  </a>
	<a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/controladores-automaticos-de-pesos" id="dg-item-id-pesagem-control-pesos" class="diagram-item active" style="left: 218px; top: 350px;">
		<div class="diagram-item-img"></div>
		<p>Controladores Atuomáticos de Pesos</p>
	  </a>
	<a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/classificadores-automaticos-de-pesos" id="dg-item-id-pesagem-class-auto" class="diagram-item active" style="left: 92px; top: 350px;">
		<div class="diagram-item-img"></div>
		<p>CLASSIFICADORES AUTOMÁTICOS DE PESO</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/plataformas-de-pesagem" id="dg-item-id-pesagem-plataformas-pesagem" class="diagram-item active" style="left: -11px; top: 275px;">
		<div class="diagram-item-img"></div>
		<p>Plataformas de pesagems</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/visores" id="dg-item-id-pesagem-visores" class="diagram-item active" style="left: -50px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Visores</p>
	  </a>
	 <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/balancas-industriais" id="dg-item-id-pesagem-plataformas-pesagem" class="diagram-item active" style="left: -11px; top: 35px;">
		<div class="diagram-item-img"></div>
		<p>Balanças Industriais</p>
	  </a>
	 <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/pcs-industriais" id="dg-item-id-pcs-industriais" class="diagram-item active" style="left: 92px; top: -40px;">
		<div class="diagram-item-img"></div>
		<p>PC's Industriais</p>
	  </a>
	 <a href="https://food-tech.pt/solucoes/industria/pesagem-e-etiquetagem/software" id="dg-item-id-pesagem-software" class="diagram-item active" style="left: 218px; top: -40px;">
		<div class="diagram-item-img"></div>
		<p>Software</p>
	  </a>
	 <a href="." id="dg-item-id-pesagem-solucoes-medida" class="diagram-item not-active" style="left: 321px; top: 35px;">
		<div class="diagram-item-img"></div>
		<p>Soluções à medida</p>
	  </a>

  </div>

  <!-- HIGIENE -->
  <div id="diagram-id-higiene" class="diagram-container rotate">

		<a href="https://food-tech.pt/solucoes/industria/higiene/lava-botas-manual" id="dg-item-id-higiene-lava-botas-manual" class="diagram-item active" style="left: 360px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Lava Botas Manual</p>
	  </a>

	 <a href="https://food-tech.pt/solucoes/industria/higiene/lava-botas-automatico" id="dg-item-id-higiene-lava-botas-auto" class="diagram-item active" style="left: 258px; top: 333px;">
		<div class="diagram-item-img"></div>
		<p>Lava Botas Automática</p>
	  </a>

	 <a href="https://food-tech.pt/solucoes/industria/higiene/passadeira-de-desinfecao" id="dg-item-id-higiene-passadeira" class="diagram-item active" style="left: 53px; top: 333px;">
		<div class="diagram-item-img"></div>
		<p>Passadeira de desinfeção</p>
	  </a>

	<a href="https://food-tech.pt/solucoes/industria/higiene/secadora-de-botas" id="dg-item-id-higiene-secadora-botas" class="diagram-item active" style="left: -50px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Secaora de Botas</p>
	  </a>

	 <a href="https://food-tech.pt/solucoes/industria/higiene/estacao-de-desinfecao-de-maos" id="dg-item-id-higiene-estacao-maos" class="diagram-item active" style="left: 52px; top: -23px;">
		<div class="diagram-item-img"></div>
		<p>Estação de desinfeção de Mãos</p>
	  </a>

	 <a href="https://food-tech.pt/solucoes/industria/higiene/estacao-de-higiene-com-torniquete" id="dg-item-id-higiene-estacao-torniquete" class="diagram-item active" style="left: 257px; top: -23px;">
		<div class="diagram-item-img"></div>
		<p>ESTAÇÃO DE HIGIENEC/ TORNIQUETE</p>
	  </a>

  </div>



  <!-- CONTROLO E INSPEÇÂO -->
  <div id="diagram-id-control" class="diagram-container rotate">
	  <a href="https://food-tech.pt/solucoes/industria/controlo-e-inspecao/detetor-de-metais" data-target="id-control" id="dg-item-id-control-metais" class="diagram-item active" style="left: 360px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Detetores de Metais</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/controlo-e-inspecao/raio-x" data-target="id-control" id="dg-item-id-control-raio-x" class="diagram-item active" style="left: -50px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>Raio-X</p>
	  </a>
  </div>



  <!--  CONSUMIVEIS  -->
  <div id="diagram-id-consumiveis" class="diagram-container rotate ">
	<a href="https://food-tech.pt/solucoes/industria/consumiveis/sacos-de-vacuo" data-target="id-consumiveis" id="dg-item-id-consumivieis-saco-de-vacuo" class="diagram-item not-active" style="left: 360px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>SACOS DE VÁCUO</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/consumiveis/sacos-de-vacuo-retrateis" data-target="id-control" id="dg-item-id-consumiveis-sacos-vacuo-retratil" class="diagram-item not-active" style="left: 258px; top: 333px;">
		<div class="diagram-item-img"></div>
		<p>SACOS DE VÁCUO RETRÁTEIS</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/consumiveis/filme-bopp" data-target="id-control" id="dg-item-id-consumiveis-filme-bopp" class="diagram-item not-active" style="left: 53px; top: 333px;">
		<div class="diagram-item-img"></div>
		<p>FILME BOPP</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/consumiveis/filme-termoselagem" data-target="id-control" id="dg-item-id-consumiveis-filme-temoselagem" class="diagram-item not-active" style="left: -50px; top: 155px;">
		<div class="diagram-item-img"></div>
		<p>FILME TERMOSELAGEM</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/consumiveis/filme-termoformagem" data-target="id-control" id="dg-item-id-consumiveis-filme-termoformagem" class="diagram-item not-active" style="left: 52px; top: -23px;">
		<div class="diagram-item-img"></div>
		<p>FILME TERMOFORMAGEM</p>
	  </a>
	  <a href="https://food-tech.pt/solucoes/industria/consumiveis/fitas-de-serra" data-target="id-control" id="dg-item-id-consumiveis-fita-serra" class="diagram-item not-active" style="left: 257px; top: -23px;">
		<div class="diagram-item-img"></div>
		<p>FITAS DE SERRA</p>
	  </a>

  </div>






  <!-- GO BACK BUTTON -->
  <div id="go-back">
	<svg fill="#FFFFFF" width="100%" height="100%" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
	 <g>
	<path d="m50 19c-8.2227 0-16.105 3.2656-21.922 9.0781-5.8125 5.8164-9.0781 13.699-9.0781 21.922s3.2656 16.105 9.0781 21.922c5.8164 5.8125 13.699 9.0781 21.922 9.0781s16.105-3.2656 21.922-9.0781c5.8125-5.8164 9.0781-13.699 9.0781-21.922s-3.2656-16.105-9.0781-21.922c-5.8164-5.8125-13.699-9.0781-21.922-9.0781zm0 56c-6.6289 0-12.988-2.6328-17.676-7.3242-4.6914-4.6875-7.3242-11.047-7.3242-17.676s2.6328-12.988 7.3242-17.676c4.6875-4.6914 11.047-7.3242 17.676-7.3242s12.988 2.6328 17.676 7.3242c4.6914 4.6875 7.3242 11.047 7.3242 17.676s-2.6328 12.988-7.3242 17.676c-4.6875 4.6914-11.047 7.3242-17.676 7.3242z"></path>
	<path d="m52 35.762-12.121 12.117c-1.168 1.1719-1.168 3.0703 0 4.2422l12.121 12.117 4.2383-4.2383-10-10 10-10z"></path>
	 </g>
	</svg>
  </div>
  <div class="root-link"></div>
</div>
</div>
<div class="column is-half">
	<div class="diagram-wrapper" style="display:block;margin:auto;">
  	<div id="diagram-retalho" class="rt-diagram-container active">
	
		<div href="#" data-target="diagram-rt-pesagem" id="diagram-item-rt-pesaggem" class="diagram-item active" style="left: 360px; top: 155px;">
  			<div class="diagram-item-img"></div>
  			<p>Pesaggem</p>
		</div> 
		
		<div href="#" data-target="diagram-rt-gestao-filas" id="diagram-item-rt-gestao-filas" class="diagram-item active" style="left: 258px; top: 333px;">
			<div class="diagram-item-img"></div>
			<p>Gestão de Filas</p>
		</div> 
	
		<div href="#" data-target="diagram-rt-corte" id="diagram-item-rt-corte" class="diagram-item active" style="left: 53px; top: 333px;">
			<div class="diagram-item-img"></div>
			<p>Corte</p>
		</div> 
		
		<div href="#" data-target="diagram-rt-processamento" id="diagram-item-rt-processamento" class="diagram-item active" style="left: -50px; top: 155px;">
			<div class="diagram-item-img"></div>
			<p>Processamento</p>
		</div> 
		
	
		<div href="#" data-target="diagram-rt-embalagem" id="diagram-item-rt-embalagem" class="diagram-item active" style="left: 52px; top: -23px;">
			<div class="diagram-item-img"></div>
			<p>Embalagem</p>
		</div> 
	
		<div href="#" data-target="diagram-rt-consumiveis" id="diagram-item-rt-consumiveis" class="diagram-item active" style="left: 257px; top: -23px;">
			<div class="diagram-item-img"></div>
			<p>Consumíveis</p>
		</div> 
	
	
	
  	</div>
	
	
  	<!-- Retalho Pesagem -->
  	<div id="diagram-rt-pesagem" class="rt-diagram-container rotate">
	
	  	<a href="#" id="dg-item-rt-pesagem-balanca-checkout" class="diagram-item active" style="left: 360px; top: 155px;">
		  	<div class="diagram-item-img"></div>
		  	<p>BALANÇAS CHECKOUT</p>
	  	</a>
	
	  	<a href="#" id="dg-item-rt-pesagem-balancas-atendimento" class="diagram-item active" style="left: 283px; top: 315px;">
			<div class="diagram-item-img"></div>
			<p>BALANÇAS ATENDIMENTO</p>
	  	</a>
	
	  	<a href="#" id="dg-item-rt-pesagem-balancas-livre-servico" class="diagram-item active" style="left: 109px; top: 355px;">
			<div class="diagram-item-img"></div>
			<p>BALANÇAS LIVRE SERVIÇO</p>
	  	</a>
	
	  	<a href="#" id="dg-item-rt-pesagem-kiosks" class="diagram-item not-active " style="left: -30px; top: 244px;">
		  	<div class="diagram-item-img"></div>
		  	<p>KIOSKS</p>
	  	</a>
	
	  	<a href="#" id="dg-item-rt-pesagem-ligeira" class="diagram-item active" style="left: -30px; top: 66px;">
		  	<div class="diagram-item-img"></div>
		  	<p>PESAGEM LIGEIRA</p>
	  	</a>
	  	<a href="#" id="dg-item-rt-pesagem-basculas" class="diagram-item active" style="left: 109px; top: -45px;">
		  	<div class="diagram-item-img"></div>
		  	<p>BÁSCULAS</p>
	  	</a>
		<a href="#" id="dg-item-rt-pesagem-software" class="diagram-item active" style="left: 283px; top: -5px;">
		  	<div class="diagram-item-img"></div>
		  	<p>SOFTWARE</p>
	  	</a>
  	</div>
	
	
  	<!-- Gestao de Fillas -->
  	<div id="diagram-rt-gestao-filas" class="rt-diagram-container rotate">
	
		<a href="#" data-target="diagram-rt-gestao-filas" id="dg-item-rt-gestao-filas-sistema" class="diagram-item active" style="left: 360px; top: 155px;">
			<div class="diagram-item-img"></div>
			<p>SISTEMA DE GESTÃO DE FILA</p>
	  	</a>
	
	  	<a href="#" data-target="diagram-rt-gestao-filas" id="dg-item-rt-gestao-filas-kit" class="diagram-item active" style="left: -50px; top: 155px;">
			<div class="diagram-item-img"></div>
			<p>KITS SUA VEZ</p>
	  	</a>
	
  	</div>
	
	
  	<!-- Corte  -->
  	<div id="diagram-rt-corte" class="rt-diagram-container rotate">
	
		<a href="#" id="dg-item-rt-corte-picadoras" class="diagram-item active" style="left: 360px; top: 155px;">
			<div class="diagram-item-img"></div>
			<p>PICADORAS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-fatiadoras-manuais" class="diagram-item active" style="left: 327px; top: 266px;">
			<div class="diagram-item-img"></div>
			<p>FATIADORAS MANUAIS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-fatiadoras-auto" class="diagram-item active" style="left: 240px; top: 341px;">
			<div class="diagram-item-img"></div>
			<p>FATIADORAS AUTOMÁTICAS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-fruta" class="diagram-item active" style="left: 126px; top: 358px;">
			<div class="diagram-item-img"></div>
			<p>CORTADORA DE FRUTAS</p>
		</a>
		
		<a href="#" id="dg-item-rt-corte-serradoras" class="diagram-item active" style="left: 21px; top: 310px;">
			<div class="diagram-item-img"></div>
			<p>SERRADORAS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-fatiadoras-pao" class="diagram-item active" style="left: -42px; top: 213px;">
			<div class="diagram-item-img"></div>
			<p>Fatiadoras de Pão</p>
		</a>
		<a href="#" id="dg-item-rt-corte-fatiadoras-facas" class="diagram-item active" style="left: -42px; top: 97px;">
			<div class="diagram-item-img"></div>
			<p>AFIADORES DE FACAS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-molde-espetadas" class="diagram-item active" style="left: 21px; top: 0px;">
			<div class="diagram-item-img"></div>
			<p>MOLDE DE ESPETADAS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-esterizador-facas" class="diagram-item active" style="left: 126px; top: -48px;">
			<div class="diagram-item-img"></div>
			<p>ESTERILIZADORES	DE FACAS</p>
		</a>
		<a href="#" id="dg-item-rt-corte-guilhotinnas-bacalhau" class="diagram-item active" style="left: 240px; top: -31px;">
			<div class="diagram-item-img"></div>
	    	<p>GUILHOTINAS DE BACALHAU</p>
		</a>
		<a href="#" id="dg-item-rt-corte-corta-costeletas" class="diagram-item active" style="left: 327px; top: 44px;">
			<div class="diagram-item-img"></div>
			<p>CORTA COSTELETAS</p>
		</a>
  	</div>
		
	
	
 		<!-- Embalagem -->
		<div id="diagram-rt-embalagem" class="rt-diagram-container rotate">
		
			<a href="#" id="dg-item-rt-embalagem-maquina-manaul" class="diagram-item active" style="left: 360px; top: 155px;">
				<div class="diagram-item-img"></div>
				<p>MÁQUINA DE EMBALAR MANUAL</p>
			</a>
			<a href="#" id="dg-item-rt-embalagem-vacuo" class="diagram-item active" style="left: 53px; top: 333px;">
				<div class="diagram-item-img"></div>
				<p>MÁQUINA DE EMBALAR A VÁCUO</p>
			</a>
			<a href="#" id="dg-item-rt-embalagem-em-l" class="diagram-item active" style="left: 52px; top: -23px;">
					<div class="diagram-item-img"></div>
					<p>MÁQUINA DE EMBALAR em L</p>
			</a>
		</div>
		
		
		<!-- Consumivieis -->
		<div id="diagram-rt-consumiveis" class="rt-diagram-container rotate">
				
				<a href="#" id="dg-item-rt-consumivieis-etiquetas" class="diagram-item active" style="left: 360px; top: 155px;">
					<div class="diagram-item-img"></div>
					<p>ETIQUETAS</p>
				</a>
				<a href="#" id="dg-item-rt-consumivieis-fitas-de-serra" class="diagram-item active" style="left: 258px; top: 333px;">
					<div class="diagram-item-img"></div>
					<p>FITAS DE SERRA</p>
				</a>
				<a href="#" id="dg-item-rt-consumivieis-navalhas" class="diagram-item active" style="left: 53px; top: 333px;">
					<div class="diagram-item-img"></div>
					<p>Navalhas</p>
				</a>
				<a href="#" id="dg-item-rt-consumivieis-crivos" class="diagram-item active" style="left: -50px; top: 155px;">
					<div class="diagram-item-img"></div>
					<p>CRIVOS</p>
				</a>
				<a href="#" id="dg-item-rt-consumivieis-sacos-de-vacuo" class="diagram-item active" style="left: 52px; top: -23px;">
					<div class="diagram-item-img"></div>
					<p>SACOS DE VÁCUO</p>
				</a>
				<a href="#" id="dg-item-rt-consumivieis-filmes" class="diagram-item active" style="left: 257px; top: -23px;">
					<div class="diagram-item-img"></div>
					<p>FILMES ESTIRÁVEL</p>
				</a>
					
			
		</div>
		
  	<!-- Processamento  -->
			<div id="diagram-rt-processamento" class="rt-diagram-container rotate">	
				<a href="#" id="dg-item-rt-corte-maquina-enchidos" class="diagram-item active" style="left: 360px; top: 155px;">
					<div class="diagram-item-img"></div>
					<p>MÁQUINA ENCHIDOS</p>
				</a>
				<a href="#" id="dg-item-rt-corte-formadora-hamburgueres" class="diagram-item active" style="left: -50px; top: 155px;">
					<div class="diagram-item-img"></div>
					<p>FORMADORA DE HAMBÚRGUERES</p>
				</a>	
	-
	  	</div>
	
	
  	<!-- GO BACK BUTTON -->
  	<div id="go-back-rt">
		<svg fill="#FFFFFF" width="100%" height="100%" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
	 	<g>
		<path d="m50 19c-8.2227 0-16.105 3.2656-21.922 9.0781-5.8125 5.8164-9.0781 13.699-9.0781 21.922s3.2656 16.105 9.0781 21.922c5.8164 5.8125 13.699 9.0781 21.922 9.0781s16.105-3.2656 21.922-9.0781c5.8125-5.8164 9.0781-13.699 9.0781-21.922s-3.2656-16.105-9.0781-21.922c-5.8164-5.8125-13.699-9.0781-21.922-9.0781zm0 56c-6.6289 0-12.988-2.6328-17.676-7.3242-4.6914-4.6875-7.3242-11.047-7.3242-17.676s2.6328-12.988 7.3242-17.676c4.6875-4.6914 11.047-7.3242 17.676-7.3242s12.988 2.6328 17.676 7.3242c4.6914 4.6875 7.3242 11.047 7.3242 17.676s-2.6328 12.988-7.3242 17.676c-4.6875 4.6914-11.047 7.3242-17.676 7.3242z"></path>
		<path d="m52 35.762-12.121 12.117c-1.168 1.1719-1.168 3.0703 0 4.2422l12.121 12.117 4.2383-4.2383-10-10 10-10z"></path>
	 	</g>
		</svg>
  	</div>
  	<div class="root-link-rt"></div>
	
	
	</div>
</div>
    </div>
</div>

	<script>
    	
	var radius = 205;
	
	/* REATALHO - BASE  */
	var fields = $('#diagram-retalho .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});
	
	
	/* REATALHO - PESAGEM */
	var fields = $('#diagram-rt-pesagem .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});
	
	
	/* REATALHO - GESTAO DE FILAS  */
	var fields = $('#diagram-rt-gestao-filas .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});

	
	/* REATALHO - CORTE  */
	var fields = $('#diagram-rt-corte .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});
	
	
	/* REATALHO - PROCESSAMENTO  */
	var fields = $('#diagram-rt-processamento .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});
	
 
	
	/* REATALHO - EMBALAGEM  */
	var fields = $('#diagram-rt-embalagem .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});
	
	/* REATALHO - COONSUMIVIES  */
	var fields = $('#diagram-rt-consumiveis .diagram-item'),
	  container = $('.rt-diagram-container'),
	  width = container.width(),
	  height = container.height();
	var angle = 0,
	  step = (2 * Math.PI) / fields.length;
	fields.each(function() {
	  var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
	  var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
 
	  $(this).css({
		left: x + 'px',
		top: y + 'px'
	  });
	  angle += step;
	});
			

	
	
	
	
	
		$('.rt-diagram-container.active .diagram-item').click(function() {
	  var banana = $(this).parent();
	  $(banana).removeClass('active').addClass('rotate');
	  var banana_att = $(this).attr('data-target');
	  var banana_target = '#' + banana_att;
	  $(banana_target).removeClass('rotate').addClass('active');
	  $('#go-back').show();
	  console.log(banana);
	  console.log(banana_target);
	});
	
	$('#go-back-rt').click(function() {
	  $('.rt-diagram-container').removeClass('active').addClass('rotate');
	  $('#diagram-retalho').removeClass('rotate').addClass('active');
	 // $(this).hide();
	  console.log(this);
	})

 
	$('.root-link-rt').click(function() {
	  $('.rt-diagram-container').removeClass('active').addClass('rotate');
	  $('#diagram-retalho').removeClass('rotate').addClass('active');
	 // $(this).hide();
	  console.log(this);
	})
	
		

</script>


