@{
    ViewData["Title"] = "Inicio";
}

<div class="is-centered">
    <img src="~/img/logo_website.png" style="display:block;margin:auto;width:30%">
    <figure class="image"><img src="~/img/ft.png"></figure>
</div>


