@{
  ViewData["Title"] = "Inicio";
}

<section class="hero is-danger is-medium">
  <div class="hero-body">
    <p class="title">
      Reiniciar Aplicação
    </p>
    <p class="subtitle">
      A reiniciar a WEBAPP. Por favor aguarde alguns minutos e tente novamente mais tarde.
    </p>
    &nbsp;
    <a class="button is-info is-fullwidth" href="~/">Voltar</a>
  </div>
</section>
