@model FT_Management.Models.Produto

@{
    ViewData["Title"] = "Adicionar Referência";
}

<h1>Adicionar Referência</h1>

<hr />

<form asp-action="Criar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="Ref_Produto" class="control-label"></label>
                <input asp-for="Ref_Produto" class="form-control" />
                <span asp-validation-for="Ref_Produto" class="text-danger"></span>
            </div>
            <div class="form-group col-8">
                <label asp-for="Designacao_Produto" class="control-label"></label>
                <input asp-for="Designacao_Produto" class="form-control" />
                <span asp-validation-for="Designacao_Produto" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="form-group col-3">
                <label asp-for="Stock_Fisico" class="control-label"></label>
                <input asp-for="Stock_Fisico" class="form-control" />
                <span asp-validation-for="Stock_Fisico" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="Stock_PHC" class="control-label"></label>
                <input asp-for="Stock_PHC" class="form-control" />
                <span asp-validation-for="Stock_PHC" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="Pos_Stock" class="control-label"></label>
                <input asp-for="Pos_Stock" class="form-control" />
                <span asp-validation-for="Pos_Stock" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label class="control-label">Armazém</label>
                <select class="form-control" id="lstarmazens" asp-for="Armazem_ID" asp-items="ViewBag.Armazens">
                </select>
                <input type="hidden" asp-for="Armazem_ID" class="form-control" />
            </div>
            <div class="w-100"></div>
            <div class="form-group" style="width: 100%">
                <label asp-for="Obs_Produto" class="control-label"></label>
                @Html.EditorFor(model => model.Obs_Produto, new { htmlAttributes = new { @class = "form-control", @rows = "8" } })
                <span asp-validation-for="Obs_Produto" class="text-danger"></span>
            </div>
            <div class="form-group" style="width: 100%">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="fas fa-plus"></i> Adicionar Referência
                </button>
            </div>
        </div>
    </div>
</form>
 

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
