@model FT_Management.Models.Produto

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Referência</h1>

<hr />
<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="Ref_Produto" class="control-label"></label>
                <input asp-for="Ref_Produto" class="form-control" readonly />
                <span asp-validation-for="Ref_Produto" class="text-danger"></span>
            </div>
            <div class="form-group col-8">
                <label asp-for="Designacao_Produto" class="control-label"></label>
                <input asp-for="Designacao_Produto" class="form-control" />
                <span asp-validation-for="Designacao_Produto" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="form-group col-4">
                <label asp-for="Stock_Fisico" class="control-label"></label>
                <input asp-for="Stock_Fisico" class="form-control" />
                <span asp-validation-for="Stock_Fisico" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Stock_PHC" class="control-label"></label>
                <input asp-for="Stock_PHC" class="form-control" />
                <span asp-validation-for="Stock_PHC" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Pos_Stock" class="control-label"></label>
                <input asp-for="Pos_Stock" class="form-control" />
                <span asp-validation-for="Pos_Stock" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="form-group" style="width: 100%">
                <label asp-for="Obs_Produto" class="control-label"></label>
                @Html.EditorFor(model => model.Obs_Produto, new { htmlAttributes = new { @class = "form-control", @rows = "8" } })
                <span asp-validation-for="Obs_Produto" class="text-danger"></span>
            </div>
            <div class="form-group" style="width: 100%">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="fas fa-save"></i> Guardar Alterações
                </button>
            </div>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
