@model FT_Management.Models.FolhaObra

@{
    ViewData["Title"] = "Novo Agendamento";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<form asp-action="Adicionar" name="frmAdicionar" id="frmAdicionar">
    <div class="mb-5 p-4 bg-white shadow-sm">
        <h3>Novo Agendamento</h3>

        <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#cliente-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="cliente-part" id="cliente-part-trigger" aria-selected="true">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Cliente</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#comercial-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="comercial-part" id="comercial-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Comercial</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#informacao-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="informacao-part" id="informacao-part-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Dados</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="cliente-part" class="content" role="tabpanel" aria-labelledby="cliente-part-trigger">
                    <div class="form-group" style="position: relative;">
                        <label for="">Cliente</label>
                        <input type="hidden" id="IdCliente" name="IdCliente" />
                        <input type="hidden" id="IdLoja" name="IdLoja" />
                        <input type="text" class="form-control" id="txtCustomer" placeholder="Nome Cliente">
                    </div>
                    <button class="btn btn-primary" type="button" onclick="next()">Próximo</button>
                </div>
                <div id="comercial-part" class="content" role="tabpanel" aria-labelledby="comercial-part-trigger">
                    <div class="form-group">
                        <label for="">Comercial</label>
                        @{ var LstComerciais = ViewData["Comerciais"] as IList<Utilizador>;}
                        <select class="form-control" id="txtComercial" name="txtComercial" asp-items="@(new SelectList(LstComerciais, "Id", "NomeCompleto"))"></select>

                        <label for="data" class="">Data da Visita</label>
                        <div class="">
                            @*DateTimePicker*@
                            <script src="~/js/gijgo.min.js" type="text/javascript"></script>
                            <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />

                            <input type="text" class="form-control" id="txtData" name="txtData">
                            <script>
                                var today = new Date();
                                var dd = String(today.getDate()).padStart(2, '0');
                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                var yyyy = today.getFullYear();

                                $('#txtData').datepicker({
                                    format: 'dd-mm-yyyy',
                                    value: dd + '-' + mm + '-' + yyyy
                                });
                            </script>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="previous()">Anterior</button>
                    <button class="btn btn-primary" type="button" onclick="next()">Próximo</button>
                </div>
                <div id="informacao-part" class="content" role="tabpanel" aria-labelledby="informacao-part-trigger">
                    <div class="form-group">
                        <label for="">Observações</label>
                        <textarea class="form-control" rows="8" placeholder="" id="Obs" name="Obs" required></textarea>
                        <br />
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" onclick="previous()">Anterior</button>

                            <input type="submit" onclick="submit()" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
        $(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Visitas/ObterClientes/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.idCliente + " - " + item.idLoja + " - " + item.nomeCliente,
                                    val: item.idCliente,
                                    val2: item.idLoja
                                };
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#IdCliente").val(i.item.val);
                    $("#IdLoja").val(i.item.val2);
                },
                minLength: 1
            });
        });

        var stepper = new Stepper($('.bs-stepper')[0])

        function next() {
            stepper.next();
        }
        function previous() {
            stepper.previous();
        }

    </script>
