@model FT_Management.Models.Visita

@{
    ViewData["Title"] = "Novo Agendamento";
}

<link rel="stylesheet" href="~/lib/bulma-steps/dist/css/bulma-steps.min.css">
<script src="~/lib/bulma-steps/dist/js/bulma-steps.min.js"></script>

<form asp-action="Adicionar" name="frmAdicionar" id="frmAdicionar">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-12">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">Novo Agendamento</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="container">
        <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>

        <div class="steps" id="stepsDemo">
            <div class="step-item is-active">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title">Cliente</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title">Comercial</p>
                </div>
            </div>
            <div class="step-item  is-success">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title">Dados</p>
                </div>
            </div>
            <div class="steps-content">
                <div class="step-content is-active">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field">
                                <label asp-for="Cliente"></label>
                                <div class="control">
                                    <input type="hidden" asp-for="Cliente.IdCliente" id="txtIdCliente" />
                                    <input type="hidden" asp-for="Cliente.IdLoja" id="txtIdLoja" />
                                    <input type="text" class="input" asp-for="Cliente.NomeCliente" id="txtCustomer">
                                </div>
                                <span asp-validation-for="Cliente.IdCliente" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="IdComercial"></label>
                                <div class="select" style="width:100%">
                                    @{
                                        var LstComerciais = ViewData["Comerciais"] as IList<Utilizador>;
                                    }
                                    <select class="select" style="width:100%" asp-for="IdComercial"
                                        asp-items="@(new SelectList(LstComerciais, "Id", "NomeCompleto"))"></select>
                                </div>
                                <span asp-validation-for="IdComercial" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="PrioridadeVisita"></label>
                                <div class="select" style="width:100%">
                                    @{
                                        var LstPrioridade = ViewData["Prioridade"] as IList<String>;
                                    }
                                    <select class="select" style="width:100%" asp-for="PrioridadeVisita"
                                        asp-items="@(new SelectList(LstPrioridade))"></select>
                                </div>
                                <span asp-validation-for="PrioridadeVisita" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="EstadoVisita"></label>
                                <div class="select" style="width:100%">
                                    @{
                                        var LstEstado = ViewData["Estado"] as IList<EstadoMarcacao>;
                                    }
                                    <select style="width:100%" asp-for="EstadoVisita"
                                        asp-items="@(new SelectList(LstEstado, "EstadoMarcacaoDesc", "EstadoMarcacaoDesc"))"></select>
                                </div>
                                <span asp-validation-for="EstadoVisita" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="DataVisita"></label>
                                <div class="control">
                                    <input class="input" type="date" value="@(DateTime.Now)" id="txtData"
                                        asp-for="DataVisita" />
                                    <script>
                                        bulmaCalendar.attach('#txtData', {
                                            color: 'info',
                                            lang: 'pt',
                                            dateFormat: 'dd/MM/yyyy',
                                            todayLabel: 'Hoje',
                                            showClearButton: false,
                                            cancelLabel: 'Cancelar'
                                        });
                                    </script>
                                </div>
                                <span asp-validation-for="DataVisita" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field">
                                <label asp-for="ResumoVisita"></label>
                                <div class="control">
                                    <textarea class="textarea" rows="8" placeholder="" asp-for="ResumoVisita"
                                        required></textarea>
                                </div>
                                <span asp-validation-for="ResumoVisita" class="text-danger"></span>
                            </div>
                        </div>
                        &nbsp;
                        <input type="submit" onclick="submit()" value="Criar Visita"
                            class="button is-info is-outlined is-fullwidth" />
                    </div>
                </div>
                &nbsp;
                <div class="steps-actions">
                    <div class="steps-action">
                        <a href="#" data-nav="previous" class="button is-light">Anterior</a>
                    </div>
                    <div class="steps-action">
                        <a href="#" data-nav="next" class="button is-light">Próximo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Contacto.IdContacto" value="0" />
    <input type="hidden" asp-for="Contacto.NomeContacto" value="N/D" />
    <input type="hidden" asp-for="Contacto.EmailContacto" value="N/D" />
    <input type="hidden" asp-for="Contacto.PessoaContacto" value="N/D" />
    <input type="hidden" asp-for="Contacto.TelefoneContacto" value="N/D" />
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    bulmaSteps.attach();

    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Clientes/Clientes/',
                    data: { "prefix": request.term },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.idCliente + " - " + item.idLoja + " - " + item.nomeCliente,
                                val: item.idCliente,
                                val2: item.idLoja
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError("Ocorreu um erro ao obter o cliente!");
                    },
                    failure: function (response) {
                        notifyError("Ocorreu um erro ao obter o cliente!");
                    }
                });
            },
            select: function (e, i) {
                $("#txtIdCliente").val(i.item.val);
                $("#txtIdLoja").val(i.item.val2);
            },
            minLength: 1
        }).css('z-index', 10);
    });

</script>
