@model FT_Management.Models.FolhaObra

@{
    ViewData["Title"] = "Adicionar Visita";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<div class="mb-5 p-4 bg-white shadow-sm">
    <h3>Adicionar Visita</h3>
    <div id="stepper1" class="bs-stepper linear">
        <div class="bs-stepper-header" role="tablist">
            <div class="step active" data-target="#test-l-1">
                <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1" aria-selected="true">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Cliente</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-2">
                <button type="button" class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2" aria-selected="false" disabled="disabled">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Comercial</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-3">
                <button type="button" class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3" aria-selected="false" disabled="disabled">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Observações</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form onsubmit="return false" data-myki-form-1="MUQTT">
                <div id="test-l-1" role="tabpanel" class="bs-stepper-pane active dstepper-block" aria-labelledby="stepper1trigger1">
                    <div class="form-group" style="position: relative;">
                        <label for="exampleInputEmail1">Cliente</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nome Cliente">
                    </div>
                    <button class="btn btn-primary" onclick="next()">Próximo</button>
                </div>
                <div id="test-l-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Comercial</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome Comercial">
                    </div>
                    <button class="btn btn-primary" onclick="previous()">Anterior</button>
                    <button class="btn btn-primary" onclick="next()">Próximo</button>
                </div>
                <div id="test-l-3" role="tabpanel" class="bs-stepper-pane text-center" aria-labelledby="stepper1trigger3">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Observações</label>
                        <textarea class="form-control" rows="8" placeholder="" required></textarea>
                        <br />
                        <button class="btn btn-primary" onclick="previous()">Anterior</button>
                        <button class="btn btn-primary" onclick="next()">Guardar</button>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    var stepper = new Stepper(document.getElementById("stepper1"));

    function next() {
        stepper.next();
    }
    function previous() {
        stepper.previous();
    }


</script>
