
@{
    ViewData["Title"] = "Calendário";
}


<h1>Agendamento</h1>

<hr />

<link href='~/js/fullcalendar/main.css' rel='stylesheet' />
<script src='~/js/fullcalendar/main.js'></script>

<div id='calendar-container'>
    <div id='calendar'></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'dayGridDay,timeGridWeek'
            },
            contentHeight: 3000,
            weekNumbers: true,
            expandRows: true,
            firstDay: 1,
            locale: 'pt',
            editable: true,
            events: 'ObterVisitasComercial',
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false
            },
            scrollTime: '00:00:00',
            displayEventTime: false,
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate
                if (info.event.url) {
                    window.open(info.event.url);
                }
            },
            eventDrop: function (info) {
                //alert(info.event.title + " was dropped on " + info.event.start.toISOString());

                $.ajax({
                    type: "POST",
                    url: "/Visitas/AlteracaoCalendario",
                    data: { data: info.event.start.toISOString(), id: info.event.id },
                    traditional: false,
                    success: function (result) {
                        $(function () {
                            $.notify({
                                message: "Agendamento atualizado com sucesso!"
                            }, {
                                // settings
                                type: 'success',
                                onShow: function () {
                                    this.css({ 'width': 'auto', 'height': 'auto' });
                                }
                            });
                        });
                    }
                });
            }
        });

        calendar.render();
    });</script>