<link href='~/js/fullcalendar/main.css' rel='stylesheet' />
<script src='~/js/fullcalendar/main.js'></script>

<div id='calendar-container'>
    <div id='calendar'></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'dayGridDay,timeGridWeek'
            },
            contentHeight: 3000,
            weekNumbers: true,
            expandRows: true,
            firstDay: 1,
            locale: 'pt',
            editable: false,
            events: 'ObterMarcacoes',
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false
            },
            scrollTime: '00:00:00',
            displayEventTime: false,
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate
                if (info.event.url) {
                    window.open(info.event.url);
                }
            }
        });

        calendar.render();
    });</script>