@model FT_Management.Models.FT_ManagementContext


@{
    ViewData["Title"] = "Admin";
}




<table width="100%">
    <tr>
        <td>
            <h1>Funções de Administrador</h1>
        </td>
    </tr>
    <tr>

       
    </tr>
</table>

<hr />
<div class="input-group">
    <input type="text" class="form-control" id="txtTabela" placeholder="Nome da Tabela" aria-label="" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <a class="btn btn-outline-danger text-black-50" onclick="location.href='@Url.Action("Reset", "Admin")?tabela=' + $('#txtTabela').val()">RESET</a>
        <a class="btn btn-outline-primary text-black-50" onclick="location.href='@Url.Action("Update", "Admin")?tabela=' + $('#txtTabela').val()">UPDATE</a>
    </div>
</div>