@{
    ViewData["Title"] = "Viaturas - Tracking";
}

<form asp-action="Index" method="get">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-car"></i>
                                </span>
                                <span>Viaturas - Tracking</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    <div id="map" style="height: 800px;z-index: 1">
    </div>
</div>

<script>
    var map = L.map('map').setView([39.3999, -8.2245], 7);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var carro = L.icon({
        iconUrl: window.location.origin + '/img/car-solid.svg',
        iconSize: [20, 20]
    });
    var carroLigado = L.icon({
        iconUrl: window.location.origin + '/img/car-on-solid.svg',
        iconSize: [25, 25]
    });

    $.ajax({
        url: '/Viaturas/ObterViaturas/',
        type: "GET",
        success: function (data) {
            data.forEach((element) => {
                var marker = L.marker([element.latitude, element.longitude], { icon: (element.ignicao ? carroLigado : carro) }).addTo(map);
                marker.bindPopup("<b>" + element.matricula + " - " + element.kmsAtuais + " km</b><br>" + element.utilizador.nomeCompleto + " (" + element.velocidade + " km/h | " + element.combustivel + "%)<br>" + element.localizacaoMorada + "<br><br><a type='button' href='" + element.getUrl + "' class='button is-success is-fullwidth'><span class='icon'><i class='fas fa-location'></i></span><span>Direções</span></a>");
            });
        },
        error: function (data) {
            notifyError('Ocorre um erro ao obter as viaturas!');
        },
        failure: function (data) {
           notifyError('Ocorre um erro ao obter as viaturas!');
        }
    });

    document.getElementById("map").bringToBack();
</script>
