@model FT_Management.Models.Marcacao

@{
    ViewData["Title"] = "Certificação - " + Model.Cliente.NomeCliente;
}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fa-solid fa-rectangle-list"></i>
                            </span>
                            <span>Certificação de Detetor de Metais - @Model.Cliente.NomeCliente</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<form method="post">
    <div class="container">
        <input type="hidden" name="marcacao" value="@Model.MarcacaoStamp" required />
        <div class="columns is-multiline mx-1">
            <div class="column is-12">
                <div class="field">
                    <label>Equipamento</label>
                    <div class="field has-addons">
                        <div class="control" style="width:100%">
                            <input type="hidden" id="txtEquipamentoStamp" name="equipamento" />
                            <p class="control">
                                <input type="text" class="input" id="txtEquipamento" placeholder="Insira o número de série" required>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <label class="switch is-rounded is-normal">
                        <input type="checkbox" name="sticker" required>
                        <span class="check is-info"></span>
                        <span class="control-label">
                            Já colocou o sticker como prova da certificação?
                        </span>
                    </label>
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Nome do Cliente" name="nome" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email do Cliente" name="email" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="column is-12">
                <div class="field">
                    <p class="control">
                        <button class="button is-success is-fullwidth is-large">
                            <span class="icon is-small">
                                <i class="fa-solid fa-paper-plane"></i>
                            </span>
                            <span>Submeter Formulário</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#txtEquipamento").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Equipamentos/Equipamentos/',
                    data: { "prefix": request.term, "no": "@Model.Cliente.IdCliente", "loja":  "@Model.Cliente.IdLoja" },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.numeroSerieEquipamento + " (" + item.marcaEquipamento + " - " + item.modeloEquipamento + ")",
                                val: item.equipamentoStamp
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter os equipamentos!');
                    },
                    failure: function (response) {
                        notifyError('Ocorreu um erro ao obter os equipamentos!');
                    }
                });
            },
            select: function (e, i) {
                $("#txtEquipamentoStamp").val(i.item.val);
            },
            minLength: 1
        }).css('z-index', 10);
    });
</script>